.footer{
    background-color: whitesmoke;
    height: 200px;
    // width: 100%;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    >div h1 p {
        
    }
    > .links{
        display: flex;
        width: 30%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
       >h5{
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: .2rem;

       }
       >a {
        margin: .5rem 0 ;
        color: rgb(88, 88, 88);
       &:hover{
       color: rgb(0, 0, 0);
       }
    }
    }
}