nav{
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    box-shadow: 0 0 10px rgb(216, 216, 216);
    z-index: 100;
    position: sticky;
    top: 0%;
>h1{
    text-transform: uppercase;
}
> main{
    width: 70%;
    display: flex;
    justify-content: flex-end;

    >a{
        color: rgb(83, 80, 80);
        margin: 1rem;
        font-weight: 700;

        &:hover{
            color: rgb(19, 19, 19);
        }
    }
}

}


